@tailwind base;
@tailwind components;
@tailwind utilities;

/* sidebar button */
.clip-path-trapezoid {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.p-sidebar-close.p-sidebar-icon.p-link {
  display: none !important;
}

.p-sidebar-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

.custom-slider .p-slider-handle {
  background-color: #ffffff !important;
  border: 2px solid #0077cc !important;
  box-shadow: 0 0 0px rgba(0, 119, 204, 0.5) !important;
}

.custom-slider .p-slider-handle:active {
  background-color: #0077cc !important;
  box-shadow: 0 0 4px rgba(0, 119, 204, 0.7) !important;
}

.sidebar-visible .pokemon-card {
  width: 16rem; /* w-64 */
}

.sidebar-hidden .pokemon-card {
  width: 13.5rem; /* w-54 */
}

/* Stili di default */
.pokemon-card {
  transition: width 0.3s ease-in-out;
}

.pokemon-card:hover {
  /* background-color: transparent !important; */
  /* box-shadow: none !important; */
  transform: scale(1.05);
}

.pokemon-inner-card {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  transition: transform 0.3s ease-in-out;
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Larghezza della barra di scorrimento */
}

/* Colore e stile dello sfondo della barra */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Colore dello sfondo */
  border-radius: 10px;
}

/* Colore e stile della barra di scorrimento */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Colore della barra */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Padding */
}

/* Cambia colore al hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
